<div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a class="more" href="{% url 'course:course_index' %}">更多</a>
                </div>
                <div class="advertise-group">
                    <a href="#">
                        <img src="http://www.xfz.cn/static/build/images/side-gift-banner.png" alt="">
                    </a>
                </div>
                <div class="platform-group">
                    <div class="title-group">
                        <span class="title">关注小饭桌</span>
                    </div>
                    <div class="focus-group">
                        <ul class="left-group">
                           <li class="zhihu">
                               <a href="#" target="_blank">小饭桌创业课堂</a>
                           </li>
                            <li class="weibo">
                               <a href="#" target="_blank">小饭桌创业课堂</a>
                           </li>
                            <li class="toutiao">
                               <a href="#" target="_blank">小饭桌</a>
                           </li>
                        </ul>
                        <div class="right-group">
                            <p class="desc">扫码关注小饭桌微信公众平台xfz008</p>
                        </div>
                    </div>
                </div>
                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">热门推荐</span>
                    </div>
                    <ul class="hot-list-group">
                        <li>
                            <div class="left-group">
                                <p class="title">
                                    <a target="_blank" href="{% url 'news:news_detail' news_id=33 %}">任正非：“美国说‘不卖芯片给中国’，我觉得...</a>
                                </p>
                                <p class="more">
                                    <span class="category">人物</span>
                                    <span class="pub-time">1小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a target="_blank" href="{% url 'news:news_detail' news_id=33 %}">
                                    <img src="https://static-image.xfz.cn/1553078477_262.png-website.news.list" alt="">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>